.header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif
}

#menu {
  font-family: "Open Sans", Helvetica, Arial, sans-serif
}

#menu a.brand {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.content {
  font-family: "Open Sans", Helvetica, Arial, sans-serif
}

.content p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Open Sans", Helvetica, Arial, sans-serif
}

h2.subtitle {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  color: #000;
  margin-top: 1em;
}

.l-box h3 {
  font-size: 1.6em;
  color: #1C63A6;
}

a {
  color: #1C63A6;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:visited {
  color: #1C63A6;
}

.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#menu .brand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
}

#menu .pure-menu {
  font-size: 0.9em;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #1C63A6;
}

#contact-form label {
  color: #000;
  font-weight: bold;
  margin-top: 1em;
}

#contact-form input {
  margin-top: 1em;
}

#contact-form label.error {
  padding-left: 2em;
  color: #F00;
}

#contact-form textarea {
  width: 50%;
}

p.legal-copyright {
  padding-left: 2em;
  font-size: 0.8em;
}
